server/data/*.json
server/data/*.dat
server/data/log.txt
server/data/*.parts
server/dotfile.txt
server/inf_dotfile.txt
server/conflicts.csv
*.o
*.opp
*.class
*/META-INF/
*/de/
log4j.properties
*/org/
*/rationals/
*/uk/
*.nt
*.dSYM/
*/rapidjson/
lyph
.DS_Store
server/.DS_Store
